
body {
        background-image: url("../img/photo-1610375461246-83df859d849d.jpeg");
        height: 100%;
        background-position:left;
        background-size:cover;
        
}

.wrapper h2 {
    margin-top: 2rem;
    text-align: center;
    color:rgb(51, 51, 51);
    
}
.wrapper{ 
    width: 350px; 
    padding: 30px; 
}
.wrapper h1 {text-align: center}
.wrapper h2 {text-align: center}
.wrapper form .form-group span {color: red;}
button{
    margin: 0 15px;
}
img{
    width: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
}
